// Material Icons
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

// Materialize CSS
@import "node_modules/materialize-css/sass/components/color";

// Variables
@import "variables";

// Materialize CSS
@import "node_modules/materialize-css/sass/materialize";

@import "../../_default/sass/default";

body{
  background-color: color('blue-grey','lighten-5');
}

#app{
  display: flex;
  min-height: 100vh;
  flex-direction: column
}

main{
  flex: 1 0 auto
}

#plan-business {
  border: none;
}

#plan-business > .collection-item {
  border: none;
}
