<div>
    <form name="form" method="POST" @submit.prevent="submit">
        <modal :modal="modalOptions">
            <div slot="content">
                <page-title>
                    <h5>{{title()}}</h5>
                </page-title>
                <div class="row">
                    <div class="input-field col s12">
                        <label class="active">Conta bancária:</label>
                        <input type="text" :id="bankAccountTextId()" placeholder="Buscar conta bancária"
                               autocomplete="off" :data-activates="bankAccountDropdownId()" data-belloworigin="true"/>
                        <ul :id="bankAccountDropdownId()" class="dropdown-content ac-dropdown"></ul>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <label class="active">Categoria de Despesa</label>
                        <select-material :options="parentOptions" :selected.sync="bill.category_id"></select-material>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input type="text" v-model="bill.date_due | dateFormat" placeholder="Informe a data"
                               class="validate" name="date_due" v-validate data-vv-rules="required|date_format_custom"
                               :class="{'invalid': errors.has('date_due')}" data-vv-as="vencimento"/>
                        <label class="active" :data-error="errors.first('date_due')">Vencimento</label>
                    </div>
                    <div class="input-field col s6">
                        <input type="text" v-model="bill.value | numberFormat" placeholder="Informe o valor"
                               class="validate" name="value" v-validate data-vv-rules="required|number_format:1.00"
                               :class="{'invalid': errors.has('value')}" data-vv-as="valor"/>
                        <label class="active" :data-error="errors.first('value')">Valor</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input type="text" v-model="bill.name" placeholder="Informe o nome" name="name" class="validate"
                               v-validate data-vv-rules="required" :class="{'invalid': errors.has('name')}"
                                data-vv-as="nome" />
                        <label class="active" :data-error="errors.first('name')">Nome</label>
                    </div>
                    <div class="input-field col s6">
                        <input type="checkbox" class="filled-ind" v-model="bill.done" id="doneId()"/>
                        <label for="doneId()">Pago?</label>
                    </div>
                </div>
            </div>
            <div slot="footer">
                <button type="submit" class="btn btn-flat waves-effect green lighten-2 modal-close modal-action">
                    Ok
                </button>
                <button type="button" class="btn btn-flat waves-effect waves-red lighten-2 modal-close modal-action">
                    Cancelar
                </button>
            </div>
        </modal>
    </form>
</div>