// Material Icons
@import url(http://fonts.googleapis.com/icon?family=Material+Icons);

// Materialize CSS
@import "node_modules/materialize-css/sass/components/color";

// Variables
@import "variables";

// Materialize CSS
@import "node_modules/materialize-css/sass/materialize";

body{
  background-color: color('green','lighten-5');
}

#app{
  display: flex;
  min-height: 100vh;
  flex-direction: column
}

main{
  flex: 1 0 auto
}

#sidenav-overlay {
  z-index: 996 !important;
}

.filter-group{
  .btn{
    float: right;
    height: 3rem;
    line-height: 3rem;
  }
  .filter-wrapper{
    overflow: hidden;
    padding-right: 10px;
  }
}