// Material Icons
@import url(http://fonts.googleapis.com/icon?family=Material+Icons);

// Materialize CSS
@import "node_modules/materialize-css/sass/components/color";

// Variables
@import "variables";

// Materialize CSS
@import "node_modules/materialize-css/sass/materialize";

@import "../../_default/sass/default";
@import "../../_default/sass/select2-materialize";

body{
  background-color: color('grey','lighten-4');
}

#app{
  display: flex;
  min-height: 100vh;
  flex-direction: column
}

main{
  flex: 1 0 auto
}

#sidenav-overlay {
  z-index: 996 !important;
}

.filter-group{
  .btn{
    float: right;
    height: 3rem;
    line-height: 3rem;
  }
  .filter-wrapper{
    overflow: hidden;
    padding-right: 10px;
  }
}

.category-tree{
  @extend .collection;
  border: none;
  margin: 0;
  overflow: visible;

    .category-child{
      @extend .collection-item;
      padding-left: 50px;
    }

    .category-symbol{
      line-height: 36px;
      height: 36px;
      i{
        line-height: inherit;
        height: inherit;
      }
    }
}

.label-error{
  width: 100%;
  &:after{
    content: attr(data-error);
    color: $input-error-color;
    opacity: 1;
    display: block;
    position: absolute;
    top: 55px;
    transition: .2s opacity ease-out, .2s color ease-out;
  }
}
.select2-invalid{
  border-bottom: $input-invalid-border !important;
  box-shadow: 0 1px 0 0 $input-error-color;
}

.ac-appender{
  display: none;
}
